<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>
<div th:replace="fragments/fragment :: navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Change Password</h2>
    <form
            th:action="@{/profile/{id}/change-password(id = ${#authentication.principal.id})}"
            th:method="POST"
            th:object="${passwordChangeBindingModel}"
            class="main-form mx-auto col-md-4 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-12 mb-3 text-center">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input
                        th:errorclass="is-invalid"
                        id="password"
                        name="password"
                        type="password"
                        min="2"
                        max="20"
                        class="form-control"
                        placeholder="Password"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="invalid-feedback errors alert alert-danger">
                    Password problem.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3 text-center">
                <label for="newPassword" class="text-white font-weight-bold">New Password</label>
                <input
                        th:errorclass="is-invalid"
                        id="newPassword"
                        name="newPassword"
                        type="password"
                        min="2"
                        max="20"
                        class="form-control"
                        placeholder="New Password"/>
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                   class="invalid-feedback errors alert alert-danger">
                    Password problem.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3 text-center">
                <label for="confirmNewPassword" class="text-white font-weight-bold">Confirm New Password</label>
                <input
                        th:errorclass="is-invalid"
                        id="confirmNewPassword"
                        name="confirmNewPassword"
                        type="password"
                        min="2"
                        max="20"
                        class="form-control"
                        placeholder="Confirm New Password"/>
                <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"
                   class="invalid-feedback errors alert alert-danger">
                    Password problem.
                </p>
                <p  th:if="${notMatching}"
                    class="bg-danger rounded">
                    Passwords should match.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col col-md-12">
                <div class="button-holder d-flex justify-content-center">
                    <input type="submit" class="btn btn-danger" value="Confirm Change" style="width: 6vw"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col col-md-12">
                <div class="button-holder d-flex justify-content-center">
                    <a th:href="@{/profile/{id}(id = ${#authentication.principal.id})}" class="btn btn-info" style="width: 6vw">Back to Profile</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/fragment :: footer"></footer>
</div>
</body>
</html>